/*CONFIGURAÇÕES GLOBAIS */

@charset "utf-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
}

* {
    margin: 0;
    padding: 0;
}

strong {
    color: var(--cor4);
    font-weight: bold;
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 150px;
    background-image: -moz-linear-gradient(to bottom, #2CA060, #186D3E);
    padding: 40px 10px 0px 10px;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-bottom: 15px;
}

header > p {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.300);
}

nav > a {
    margin-right: 3px;
    color: #2FA866;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    color: #186D3E;
    background-color: #2FA866;
}

.principal {
    font-size: 3em;
    margin-bottom: 20px;
}

#titulo-artigo {
    font-family: idroid, Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #186D3E;
}

h2 {
    color: #186D3E;
    font-family: idroid, Arial, Helvetica, sans-serif;
    background-image: -moz-linear-gradient(to right, #2ca06079, #28c97049);
    padding-left: 2px;
}

main {
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 40px;
}

main img {
    width: 100%;
}

main p {
    padding: 20px 0;
    text-indent: 30px;
    text-align: justify;
}

.bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin: 0px -20px 15px -20px;
    padding-bottom: 50%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.extra {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
}

.titulo-extra {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

p > .links {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

.texto-final {
    padding-top: 10px;
}

footer {
    background-color: #186D3E;
    text-align: center;
    padding: 5px;
    color: white;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
}