/*CONFIGURAÇÕES GLOBAIS */

@charset "utf-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
}

* {
    margin: 0px;
    padding: 0px;
}

strong {
    color: var(--cor4);
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 150px;
    background-image: -moz-linear-gradient(to bottom, #2CA060, #186D3E);
    padding: 40px;
}

nav > a {
    margin-right: 3px;
    color: #2FA866;
}

a:hover {
    color: #186D3E;
    background-color: #2FA866;
}

.titulos-cabecalho {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    text-shadow: grey solid;
}

.subtitulo-cabecalho {
    text-align: center;
}

.principal {
    font-size: 3em;
    margin-bottom: 20px;
}

#titulo-artigo {
    font-family: idroid, Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #186D3E;
}

h2 {
    color: #186D3E;
    font-family: idroid, Arial, Helvetica, sans-serif;
    background-image: -moz-linear-gradient(to right, #2ca06079, #28c97049);
    padding-left: 2px;
}

main {
    margin: auto;
    max-width: 800px;
    min-width: 400px;
    padding: 20px;
    background-color: white;
}

p {
    padding: 5px 0 20px 0;
    text-indent: 30px;
    text-align: justify;
}

.bugdroid {
    display: block;
    margin: auto;
}

.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin: 0px -20px 15px -20px;
    padding-bottom: 50%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.extra {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 5px;
}

.titulo-extra {
    color: white;
    background-color: var(--cor4);
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

p > .links {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

.texto-final {
    padding-top: 10px;
}

footer {
    background-color: #186D3E;
    text-align: center;
    padding: 5px;
    color: white;
}